%p
  Item Total:
  %strong
    = number_to_currency(Order.find(params[:order_id]).total_price)

- unless Order.find(params[:order_id]).delivery.nil?
  %p
    Shipping:
    %strong
      = number_to_currency(Order.find(params[:order_id]).delivery.costs)
  %p
    Order Total:
    %strong
      = number_to_currency(Order.find(params[:order_id]).total_price + Order.find(params[:order_id]).delivery.costs)